<p id="notice"><%= notice %></p>

<% @event.each_with_index do |event| %>
  <h3><%= event.name %></h3>
<% end %>

<table>
  <thead>
  <tr>
    <th>Host</th>
    <th>Description</th>
    <th>Date</th>
    #<th>State</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><%= @event.user.name %></td>
    <td><%= @event.description %></td>
    <td><%= @event.date %></td>
    #<td><%= @event.private %></td>
  </tr>
  </tbody>
</table>
<h4>Comments</h4>

<%= @comments.each do |comment| %>
  <%@replies= comment.replies %>
  <div class="row">
    <div class="column">
      <h4><%= comment.user.name %></h4>
      <p><%= comment.message %></p>
      <% @replies.each do |reply| %>
        <div class="row">
          <div class="column">
            <p class="reply"><%=reply.user.name%>: <%= reply.message%></p>
          </div>
        </div>
      <%end %>
    </div>
  </div>
<%end%>



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
