<div class="row ml-0 mt-3">
  <h2>Edit "<%=@user.username%>" User</h2>
</div>
<div class="row ml-0 mt-2">
  <p>You can edit the information of  "<%=@user.username%>":</p>
</div>
<%= render partial: "form",
           locals: {
               user: @user,
               submit_btn_text: "Update"
           } %>
<br>
<%= link_to "Change password", edit_user_registration_path %> |
<%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
