<p><h1>Profile of  <% if current_user %><%= @user.username  %><%end %></h1><% if current_user== @user %>°Online<%end%></p>
<% if current_user.flyer.attached? %>
  <%= image_tag(current_user.flyer, class: "flex-image-L", data: {target: "#myModal", toggle: "modal"}) %>
<% else %>
  <%= image_tag("profile_pic.png", class: "flex-image-L") %>
<% end %>
<h2>User Info:</h2>
<p>Username: <%= @user.username %>
  <br>Full Name: <%= @user.full_name %>
  <br>Age: <%= @user.age %>
  <br>Email: <%= @user.email %><br>
  <br> Last Sign in:
  <% if @user.last_sign_in_at.nil? %>
    No session registered
  <% else %>
    <%= @user.last_sign_in_at %>
  <% end %>
  <br>
<h3>User role:</h3>
  <% if @user.admin %>
    System Admin
  <% else %>
    Normal User
  <% end %>
  <% @organization.each do |organization| %>
    <% if organization.user_id == @user.id %>
      - Administrator of "<%= organization.name %>" organization
    <% end %>
  <% end %>
</p>
<% c=0 %>
<h3> Events created by <%=@user.username %>:</h3>
<% @event.each do |event| %>
  <% if event.user_id == @user.id %>
    - <%= link_to event.name, event %><br>
    <% c=1%>
  <% end %>
<% end %>
<% if c==0 %> - <%=@user.username%> has not created any events <%end %>
<br>
<% b=0 %>
<h3> Your invitations:</h3>
<% @user_on_event.each do |user| %>
  <% if user.user_id == @user.id %>
    <% @event.each do |event| %>
      <% if user.event_id == event.id %>
        - <%= link_to event.name, event %><br>
        <% b=1 %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if b==0 %> - You don't have invitations <%end %>
<br><br>
<br>
<% if (user_signed_in? && current_user.id == @user.id) or (user_signed_in? && current_user.admin) %> <!-- ONLY THE USER CAN EDIT OR DESTROY or an admin-->
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', :back %>
