<p id="notice"><%= notice %></p>

<h1>Profile of  <% if current_user %><%= @user.username  %><%end %></h1>
<% if @user.flyer.attached? %>
  <%= image_tag(@user.flyer, class: "flex-image2", data: {target: "#myModal", toggle: "modal"}) %>
<% else %>
  <img class="flex-image2" src="https://www.madrimasd.org/blogs/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
<% end %>
<p>
  <br>id: <%= @user.id %>
  <br>Full Name: <%= @user.full_name %>
  <br>Age: <%= @user.age %>
  <br>Email: <%= @user.email %>
</p>

<h4> Your invitations:</h4>
<% @useronevent.each do |user| %>
  <% if user.user_id == @user.id %>
    <% @events.each do |event| %>
      <% if user.event_id == event.id %>
        - <%= link_to event.name, event %><br>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<h4> Events you have created:</h4>
  <% @events.each do |event| %>
  <% if event.user_id == @user.id %>
    - <%= link_to event.name, event %><br>
  <% end %>
<% end %>

<br>
<%if @user.id == current_user.id || @user.admin %>
  <button><%= link_to 'Edit', edit_user_path(@user) %></button><br><br>
  <button><%= link_to "Destroy", @user, method: :delete %></button>
<% end %>
<br>
<br>
<%= link_to 'Back', users_path %>
