<li class="flex-item">
  <br> <%= link_to event.name, event %><br>
  Description: <%= event.description %><br>
  Address: <%= event.location %><br>
  Date: <%= event.creation_date %>/07/23
  <aside style="float: right; padding-right: 20px">
    <% if event.flyer.attached? %>
      <%= link_to image_tag(event.flyer, class: "flex-image-L"), event %>
    <% else %>
      <%= link_to image_tag("thumbnail.svg", class: "flex-image-L"), event %>
    <% end %>
  </aside>
</li>
