<p id="notice"><%= notice %></p>

<aside style="float: right; padding-right: 20px">
  <% if @event.flyer.attached? %>
    <%= image_tag(@event.flyer, class: "flex-image3", data: {target: "#myModal", toggle: "modal"}) %>
  <% else %>
    <%= image_tag("thumbnail.svg", class: "flex-image3") %>
  <% end %>
</aside>

<h2><%= @event.name %></h2>
<p>Event info:       <%if @event.user_id == current_user.id || current_user.admin %><button><%= link_to 'Edit', edit_event_path(@event) %></button><% end %><br>
  <br>Description: <%= @event.description %>
  <br>Address: <%= @event.location %>
  <br>Creation date: <%= @event.creation_date %>
  <br>Date: <%= @event.starting_event_date %>
  <br>Created by:
  <% @user.each do |user| %>
    <% if @event.user_id == user.id %>
      <%= link_to user.full_name, user %>
      <% break %>
    <% end %>
  <% end %>
  <br>Privacy:
  <% if @event.event_privacy == 1 %>
    <%= "Private" %>
  <% else %>
    <%= "Public" %>
  <% end %>
</p>

<p>
<h3>Guest List:</h3>
<% @useronevent.each do |event| %>
  <% if event.event_id == @event.id %>
    <% @user.each do |user| %>
      <% if user.id == event.user_id %>
        - <%= user.full_name %><br>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</p>

<h3>Comments:</h3>
<p>
  <% @event.comments.each do |comment| %>
    <tr>
    <p>
      <%= comment.user.username %>:
      <%= comment.message %>
      <% if @current_user.id == comment.user.id %>
        <%= link_to 'Edit', edit_comment_path(comment) %>
      <% end %>
      <% @event.comment_replies.each do |reply| %>
        <tr>
        <p>
          <% if reply.comment.id == comment.id %>
            reply of <%= reply.user.username %>:
            <%= reply.message %>
          <% end %>
        </p>
        </tr>
      <% end %>
      </p>
      </tr>
  <% end %>
  </p>
  <p><%= link_to '- New Comment -', new_comment_path(@comment) %> </p>
  <br>

  <% if @event.files.attached? %>
    <% @event.files.each do |file| %>
      <br><%= image_tag(file, class: "flex-image2", data: {target: "#myModal", toggle: "modal"}) %><br>
    <% end %>
  <% end %>
  <br>
  <select class="custom-select">
    <option selected>Dates to event</option>
    <%@event_dates_to_votes.each_with_index do |event_dates_to_vote,i| %>
      <option value="i"><%=  event_dates_to_vote.date_voted %></option>
    <% end %>
  </select>
  <button type="button" class="list-group-item list-group-item-action p-2">vote</button>
  <br>
  <br>
  <%= form_with model: @event, local: true do |form| %>
    <%= errors_for @event %>
    <div class="form-group">
      <%= form.label :Upload_Files %>
      <br>
      <%= form.file_field :files %>
    </div>
    <div class="form-group mt-2">
      <%= form.submit "Upload", class: ["btn", "btn-primary"] %>
    </div>
  <% end %>
  <br>
  <h4>Invite people to "<%=@event.name%>":</h4>
  <div class="row ml-0">
    <%= form_with model: @event, local: true do |form| %>
      <%= errors_for @event %>
      <div class="form-group">
        <%= form.label :user %>
        <%= form.collection_select(:user_id, User.all.order(name: :asc), :id, :username, {}, {class: "form-control"}) %>
      </div>
      <br>
      <div class="form-group mt-2">
        <%= form.submit "Invite", class: ["btn", "btn-primary"] %>
      </div>
    <% end %>
  </div>
  <br>
  <!%= link_to "Delete",  @event, method: :delete, class: ["btn", "btn-primary"] %>
  <%= link_to 'Back', :back %>
