<p id="notice"><%= notice %></p>

<h1><%=@user.profile.name%> Inbox</h1>
<table>
  <thead>
  <tr>
    <th><h2>Messages</h2></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @messages.each do |message| %>
    <tr>
      <td><h3>From: <%=message.user.name%></h3></td>
      <td><%=message.content%></td>
      <td><%= link_to 'Show', message_path(message) %></td>
      <td>Destroy</td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_inbox_path(@inbox) %> |
<%= link_to 'Back', inboxes_path %>
