<p id="notice"><%= notice %></p>

<% @organization.each_with_index do |organization| %>
  <h3><%= organization.name %></h3>
<% end %>

<table>
  <tbody>
  <% @organization.each_with_index do |organization| %><% @admin.each_with_index do |admin| %>
      <tr>Moderator: <%= link_to admin.admin_org.name , user_path(admin.admin_org.id) %></tr><br>
      <tr>Description: <%= organization.description %></tr>
      <% end %><% end %>
  </tbody>
</table>

<h3>Events</h3>

<% @events.each do |event| %>

  <div class="dropdown">
    <button class="dropbtn"><%= event.title %></button>
    <div class="dropdown-content">
      <a><%= link_to 'Open Event', event %></a>
    </div>
  </div>
<% end %>

<br>

<h4>Members</h4>
<table>
  <thead>
  <th>Username</th>
  </thead>
  <tbody>
  <% @members.each_with_index do |member| %>
    <tr>
      <td><%= link_to member.user.name, user_path(member.user.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', :back %>
<%= link_to 'Back to events', '/events' %>
