<p id="notice"><%= notice %></p>

<aside style="float: right; padding-right: 10px">

  <% if @organization.flyer.attached? %>
    <%= image_tag(@organization.flyer, class: "flex-image3", data: { target: "#myModal", toggle: "modal"}) %>
  <% else %>
    <%= image_tag("thumbnail.svg", class: "flex-image3") %>
  <% end %>
</aside>

<h2>"<%= @organization.name %>"</h2>
<p>Name: <%= @organization.name %>
  <br>Description: <%= @organization.description %>
</p>
<!br>
<!% @user.each do |user| %>
  <!% if @organization.user_ids == user.id %>
    <!%= link_to user.full_name, user %>
    <!% break %>
  <!% end %>
<!% end %>

<h3> Organizations Events:</h3>
<% @event.each do |event| %>
  <% if event.organization_id == @organization.id %>
    - <%= link_to event.name, event %><br>
  <% end %>
<% end %>
<br>
<button><%= link_to 'Edit', edit_organization_path(@organization) %></button>
<br>
<br>
<%= link_to 'Back', organizations_path %>
