<p id="notice"><%= notice %></p>

<aside style="float: right; padding-right: 10px">

  <% if @organization.flyer.attached? %>
    <%= image_tag(@organization.flyer, class: "flex-image3", data: { target: "#myModal", toggle: "modal"}) %>
  <% else %>
    <%= image_tag("thumbnail.svg", class: "flex-image3") %>
  <% end %>
</aside>

<h2>"<%= @organization.name %>"</h2>
<p>Name: <%= @organization.name %>
  <br>Description: <%= @organization.description %>
</p>
<!br>

<br>Created by:
<% @user.each do |user| %>
  <% if @organization.user_ids == user.id %>
    <%= link_to user.full_name, user %>
    <% break %>
  <%else %>
    <p>Admin1</p>
    <%break %>
  <% end %>
<% end %>
<!br>
<h3> Organizations Events:</h3>
<% a=0 %>
<% @events.each do |event| %>
  <% if event.organization_id == @organization.id %>
    <% if event.event_privacy == 0 %>
      - <%= link_to event.name, event %><br>
      <% a = 1 %>
    <% elsif a == 0 %>
      <p>There is not public events in this organization</p>
      <%break %>
    <% end %>
  <% end %>
<% end %>
<br>
<%if @organization.user_ids == current_user.id || current_user.admin %>
  <button><%= link_to 'Edit', edit_organization_path(@organization) %></button><br><br>
  <button><%= link_to "Destroy", @organization, method: :delete %></button>
<% end %>
<br>
<br>
<%= link_to 'Back', organizations_path %>
