<!DOCTYPE html>
<html>

<head>
  <title>Events App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<header>
  <figure></figure>
  <h1 style="color: white;"><a <%= link_to "Events App", root_path %></a></h1>
</header>

<nav>
  <ul id="navbar">
    <li><a <%= link_to 'Users', users_path %></a></li>
    <% if user_signed_in? %>
      <li><a <%= link_to 'Profile', user_path(current_user.id) %></a></li>
      <li><a <%= link_to 'MailBox', mail_boxes_path %></a></li>
    <% end %>
    <li><a <%= link_to 'Events', events_path %></a></li>
    <li><a <%= link_to 'Organizations', organizations_path %></a></li>
    <li><%= form_for  Search.new do |f| %>
        <div class="field">
          <%= f.text_field :keyword, placeholder: "Search..." %>
          <%= f.submit "Search" %>
        </div>
      <% end %></li>
    <% if not user_signed_in? %>
      <li style="float: right"><%= link_to "Sign In", new_user_session_path %></li>
      <li style="float: right"><%= link_to "Register", new_user_registration_path %></li>
    <% else
         if user_signed_in? %>
        <li style="float: right"><%= button_to "Log Out", destroy_user_session_path, :method => :delete %></li>
      <% else
           if admin_signed_in %>
          <li style="float: right"><%= button_to "Log Out", destroy_admin_session_path, :method => :delete %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</nav>

<body>
<div id="container">
  <aside id="customer_info">
    <% if  current_user.present? %>
      <h4>Hi! <%= link_to current_user.username, user_path(current_user) %></h4>
      <% if current_user.admin %>
        <h6>~Admin Session~</h6>
      <% end %>
    <% else %>
      <li> Register <a <%= link_to "Here", new_user_registration_path %></a></li> </li>
    <% end %><br><br>
    <li><button><a <%= link_to "Back to home", root_path %></a></button></li>
  </aside>
  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
</div>
</body>

<footer>
  <p style="float: right"> <a href="#">Back to top</a> </p>
  <p><%= link_to "Terms of Service", terms_of_service_index_path %>
    | <%= link_to "Acceptable Use Policy", acceptable_use_policy_index_path %><p style="float: right">Developed by Martin Urrutia</p></p>
</footer>
</html>